body{
	font-family: 'Alegreya', serif;
}

.typeSquare:hover{
	outline: 1px solid lightblue;
}

ul#sampleList{
	list-style: none;
	padding-left: 0;
	font-size: smaller;
}

.col-md-12 #colorPalette{
	padding-bottom: 0;
	margin-bottom: 0;
}

.bottomalign{
	float: none;
	display: table-cell;
	vertical-align: bottom;
	padding-left: 0;
}

.highlight{
	color:blue;
}